[submodule "gcc-strata"]
	path = gcc-strata
	url = https://github.com/kms1212/gcc-strata
	branch = strata-folios-releases/gcc-15.2.0
[submodule "binutils-strata"]
	path = binutils-strata
	url = https://github.com/kms1212/binutils-strata
	branch = strata-releases/binutils-2_45_1
[submodule "musl-strata"]
	path = musl-strata
	url = https://github.com/kms1212/musl-strata
	branch = v1.2.5/strata-folios-support
[submodule "cmake-strata"]
	path = cmake-strata
	url = https://github.com/kms1212/cmake-strata
[submodule "libtool-strata"]
	path = libtool-strata
	url = https://github.com/kms1212/libtool-strata
[submodule "gnu-config-strata"]
	path = gnu-config-strata
	url = https://github.com/kms1212/gnu-config-strata
[submodule "sidlc"]
	path = sidlc
	url = https://github.com/kms1212/sidlc.git
[submodule "libstrata"]
	path = libstrata
	url = https://github.com/kms1212/libstrata.git
