GNU_MIRROR=https://ftp.kaist.ac.kr/gnu/

# Host tools
PKGCONFIG_VERSION=0.29.2
PKGCONFIG_URL="https://pkgconfig.freedesktop.org/releases/pkg-config-$PKGCONFIG_VERSION.tar.gz"
PKGCONFIG_SHA256="6fc69c01688c9458a57eb9a1664c9aba372ccda420a02bf4429fe610e7e7d591"

GETTEXT_VERSION=1.0
GETTEXT_URL="${GNU_MIRROR}gettext/gettext-$GETTEXT_VERSION.tar.gz"
GETTEXT_SHA256="85d99b79c981a404874c02e0342176cf75c7698e2b51fe41031cf6526d974f1a"

# Legacy autotools
AUTOCONF269_VERSION=2.69
AUTOCONF269_URL="${GNU_MIRROR}autoconf/autoconf-$AUTOCONF269_VERSION.tar.xz"
AUTOCONF269_SHA256="64ebcec9f8ac5b2487125a86a7760d2591ac9e1d3dbd59489633f9de62a57684"

AUTOMAKE115_VERSION=1.15
AUTOMAKE115_URL="${GNU_MIRROR}automake/automake-$AUTOMAKE115_VERSION.tar.xz"
AUTOMAKE115_SHA256="9908c75aabd49d13661d6dcb1bc382252d22cc77bf733a2d55e87f2aa2db8636"

# Toolchain libraries
GMP_VERSION=6.3.0
GMP_URL="${GNU_MIRROR}gmp/gmp-$GMP_VERSION.tar.xz"
GMP_SHA256="a3c2b80201b89e68616f4ad30bc66aee4927c3ce50e33929ca819d5c43538898"

MPFR_VERSION=4.2.2
MPFR_URL="${GNU_MIRROR}mpfr/mpfr-$MPFR_VERSION.tar.xz"
MPFR_SHA256="b67ba0383ef7e8a8563734e2e889ef5ec3c3b898a01d00fa0a6869ad81c6ce01"

MPC_VERSION=1.3.1
MPC_URL="${GNU_MIRROR}mpc/mpc-$MPC_VERSION.tar.gz"
MPC_SHA256="ab642492f5cf882b74aa0cb730cd410a81edcdbec895183ce930e706c1c759b8"

ISL_VERSION=0.27
ISL_URL="https://libisl.sourceforge.io/isl-$ISL_VERSION.tar.xz"
ISL_SHA256="6d8babb59e7b672e8cb7870e874f3f7b813b6e00e6af3f8b04f7579965643d5c"

NETTLE_VERSION=4.0
NETTLE_URL="${GNU_MIRROR}nettle/nettle-$NETTLE_VERSION.tar.gz"
NETTLE_SHA256="3addbc00da01846b232fb3bc453538ea5468da43033f21bb345cb1e9073f5094"

LIBSODIUM_VERSION=1.0.21
LIBSODIUM_URL="https://github.com/jedisct1/libsodium/releases/download/$LIBSODIUM_VERSION-RELEASE/libsodium-$LIBSODIUM_VERSION.tar.gz"
LIBSODIUM_SHA256="9e4285c7a419e82dedb0be63a72eea357d6943bc3e28e6735bf600dd4883feaf"

# Core runtime libraries
LIBFFI_VERSION=3.5.2
LIBFFI_URL="https://github.com/libffi/libffi/releases/download/v$LIBFFI_VERSION/libffi-$LIBFFI_VERSION.tar.gz"
LIBFFI_SHA256="f3a3082a23b37c293a4fcd1053147b371f2ff91fa7ea1b2a52e335676bac82dc"

LIBUV_VERSION=1.52.0
LIBUV_URL="https://dist.libuv.org/dist/v$LIBUV_VERSION/libuv-v$LIBUV_VERSION.tar.gz"
LIBUV_SHA256="19fd091a582c39c7ea26dcbb40a7d2e7cf095b070a757b3c32c05de6cfed6638"

LIBXML2_VERSION=2.15.1
LIBXML2_URL="https://download.gnome.org/sources/libxml2/${LIBXML2_VERSION%.*}/libxml2-$LIBXML2_VERSION.tar.xz"
LIBXML2_SHA256="c008bac08fd5c7b4a87f7b8a71f283fa581d80d80ff8d2efd3b26224c39bc54c"

LIBXSLT_VERSION=1.1.45
LIBXSLT_URL="https://download.gnome.org/sources/libxslt/${LIBXSLT_VERSION%.*}/libxslt-$LIBXSLT_VERSION.tar.xz"
LIBXSLT_SHA256="9acfe68419c4d06a45c550321b3212762d92f41465062ca4ea19e632ee5d216e"

LIBEXPAT_VERSION=2.7.4
LIBEXPAT_URL="https://github.com/libexpat/libexpat/releases/download/R_${LIBEXPAT_VERSION//./_}/expat-$LIBEXPAT_VERSION.tar.xz"
LIBEXPAT_SHA256="9e9cabb457c1e09de91db2706d8365645792638eb3be1f94dbb2149301086ac0"

YYJSON_VERSION=0.12.0
YYJSON_URL="https://github.com/ibireme/yyjson/archive/refs/tags/$YYJSON_VERSION.tar.gz"
YYJSON_SHA256="b16246f617b2a136c78d73e5e2647c6f1de1313e46678062985bdcf1f40bb75d"

# Compression and archive libraries
ZLIB_VERSION=1.3.1
ZLIB_URL="https://github.com/madler/zlib/releases/download/v$ZLIB_VERSION/zlib-$ZLIB_VERSION.tar.gz"
ZLIB_SHA256="9a93b2b7dfdac77ceba5a558a580e74667dd6fede4585b91eefb60f03b72df23"

BZIP2_VERSION=1.0.8
BZIP2_URL="https://sourceware.org/pub/bzip2/bzip2-$BZIP2_VERSION.tar.gz"
BZIP2_SHA256="ab5a03176ee106d3f0fa90e381da478ddae405918153cca248e682cd0c4a2269"

XZ_VERSION=5.8.2
XZ_URL="https://github.com/tukaani-project/xz/releases/download/v$XZ_VERSION/xz-$XZ_VERSION.tar.gz"
XZ_SHA256="ce09c50a5962786b83e5da389c90dd2c15ecd0980a258dd01f70f9e7ce58a8f1"

LZ4_VERSION=1.10.0
LZ4_URL="https://github.com/lz4/lz4/releases/download/v$LZ4_VERSION/lz4-$LZ4_VERSION.tar.gz"
LZ4_SHA256="537512904744b35e232912055ccf8ec66d768639ff3abe5788d90d792ec5f48b"

ZSTD_VERSION=1.5.7
ZSTD_URL="https://github.com/facebook/zstd/releases/download/v$ZSTD_VERSION/zstd-$ZSTD_VERSION.tar.gz"
ZSTD_SHA256="eb33e51f49a15e023950cd7825ca74a4a2b43db8354825ac24fc1b7ee09e6fa3"

LIBARCHIVE_VERSION=3.8.5
LIBARCHIVE_URL="https://libarchive.org/downloads/libarchive-$LIBARCHIVE_VERSION.tar.gz"
LIBARCHIVE_SHA256="8a60f3a7bfd59c54ce82ae805a93dba65defd04148c3333b7eaa2102f03b7ffd"

# Terminal and locale libraries
LIBICONV_VERSION=1.18
LIBICONV_URL="${GNU_MIRROR}libiconv/libiconv-$LIBICONV_VERSION.tar.gz"
LIBICONV_SHA256="3b08f5f4f9b4eb82f151a7040bfd6fe6c6fb922efe4b1659c66ea933276965e8"

NCURSES_VERSION=6.6
NCURSES_URL="${GNU_MIRROR}ncurses/ncurses-$NCURSES_VERSION.tar.gz"
NCURSES_SHA256="355b4cbbed880b0381a04c46617b7656e362585d52e9cf84a67e2009b749ff11"

EDITLINE_VERSION=1.17.1
EDITLINE_URL="https://github.com/troglobit/editline/releases/download/$EDITLINE_VERSION/editline-$EDITLINE_VERSION.tar.gz"
EDITLINE_SHA256="781e03b6a935df75d99fb963551e2e9f09a714a8c49fc53280c716c90bf44d26"

READLINE_VERSION=8.3
READLINE_URL="${GNU_MIRROR}readline/readline-$READLINE_VERSION.tar.gz"
READLINE_SHA256="fe5383204467828cd495ee8d1d3c037a7eba1389c22bc6a041f627976f9061cc"

# SQLite version calculation: 3.51.2 -> 3510200
SQLITE3_VERSION=3.51.2
_SQLITE_V=(${SQLITE3_VERSION//./ })
printf -v _SQLITE_INT "%d%02d%02d00" "${_SQLITE_V[0]}" "${_SQLITE_V[1]}" "${_SQLITE_V[2]}"
SQLITE3_URL="https://www.sqlite.org/2026/sqlite-autoconf-${_SQLITE_INT}.tar.gz"
SQLITE3_SHA256="fbd89f866b1403bb66a143065440089dd76100f2238314d92274a082d4f2b7bb"
