name: Build foliSDK Toolchain

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
      with:
        submodules: recursive 
        fetch-depth: 1

    - name: Install Dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          bison \
          flex \
          texinfo \
          wget \
          tar \
          tcl \
          help2man \
          autoconf \
          automake \
          autoconf-archive \
          pkg-config \
          autopoint \
          libssl-dev
        wget https://ftp.gnu.org/gnu/autoconf/autoconf-2.69.tar.xz
        wget https://ftp.gnu.org/gnu/automake/automake-1.15.tar.xz
        tar -xf autoconf-2.69.tar.xz
        tar -xf automake-1.15.tar.xz
        cd autoconf-2.69
        mkdir build
        cd build
        ../configure --prefix=/opt/autoconf-2.69
        make
        sudo make install
        cd ../..
        cd automake-1.15
        mkdir build
        cd build
        ../configure --prefix=/opt/automake-1.15
        make
        sudo make install
        cd ../..

    - name: Install Dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install texinfo wget gnu-getopt autoconf automake libtool tcl-tk help2man
        echo "$(brew --prefix texinfo)/bin" >> $GITHUB_PATH
        wget https://ftp.gnu.org/gnu/autoconf/autoconf-2.69.tar.xz
        wget https://ftp.gnu.org/gnu/automake/automake-1.15.tar.xz
        tar -xf autoconf-2.69.tar.xz
        tar -xf automake-1.15.tar.xz
        cd autoconf-2.69
        mkdir build
        cd build
        ../configure --prefix=/opt/autoconf-2.69
        LC_ALL=C make
        sudo make install
        cd ../..
        cd automake-1.15
        mkdir build
        cd build
        ../configure --prefix=/opt/automake-1.15
        LC_ALL=C make
        sudo make install
        cd ../..

    - name: Debug - SSH into runner
      if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true

    - name: Run Build Script
      run: |
        chmod +x build.sh
        ./build.sh --arch x86_64,i686

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: folisdk-${{ runner.os }}-x86-${{ github.run_id }}
        path: |
          build/folisdk-host.tar.gz
          build/folisdk-x86_64.tar.gz
          build/folisdk-i686.tar.gz
        retention-days: 5
